header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: none;
  position: absolute;
  font-size: 15px;
  padding: 10px;
  right: 0px;
  width: 100px;
  background: var(--main-light-blue);
}

header .nav-container {
  margin: 40px;
  position: relative;
}

.menu-items a {
  text-decoration: none;
  color: var(--main-dark-blue);
  display: inline-block;
  padding: 20px;
}

.menu-items a:hover {
  color: var(--main-light-blue);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu-items a.active {
  color: var(--main-light-blue);
  border: 2px solid black;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

i {
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 700px) {
  label {
    display: none;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 0;
    right: 0px;
    width: auto;
    background: none;
  }
}

@media (min-width: 1200px) {
  header nav {
    font-size: 25px;
  }
}

:root {
  --main-light-blue: #16EAEA;
  --main-dark-blue: #1B4696;
  --secondary-red: #E85248;
}

body {
  height: 100%;
  text-decoration: none;
}

.hero-banner {
  background-image: url("/public/uploads/large_jakob_owens_Jz_J_Syb_P_Fb3s_unsplash_0840f6de0c.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.featured-header {
  text-align: center;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #16EAEA 25%, transparent 25%), linear-gradient(225deg, #16EAEA 25%, transparent 25%), linear-gradient(45deg, #16EAEA 25%, transparent 25%), linear-gradient(315deg, #16EAEA 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat;
}

.featured {
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #16EAEA 25%, transparent 25%), linear-gradient(225deg, #16EAEA 25%, transparent 25%), linear-gradient(45deg, #16EAEA 25%, transparent 25%), linear-gradient(315deg, #16EAEA 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featuredData {
  background: white;
  margin: 0 auto;
  text-align: center;
}

.featuredData h3 {
  font-size: 80px;
  margin-top: -80px;
  color: var(--secondary-red);
}

.featuredData p {
  color: var(--secondary-red);
  font-size: 40px;
  margin-top: -90px;
}

.featuredData img {
  width: 450px;
  height: 300px;
}

a {
  font-family: "Bangers";
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Faster One";
}

h3 {
  font-family: "Geo", sans-serif;
}
/*# sourceMappingURL=style.css.map */