header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: none;
  position: absolute;
  font-size: 15px;
  padding: 10px;
  right: 0px;
  width: 100px;
  background: var(--main-light-blue);
  z-index: 9999;
}

header .nav-container {
  margin: 40px;
  position: relative;
}

.menu-items a {
  text-decoration: none;
  color: var(--main-dark-blue);
  display: inline-block;
  padding: 20px;
}

.menu-items a:hover {
  color: var(--main-light-blue);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu-items a.active {
  color: var(--main-light-blue);
  border: 2px solid black;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

i {
  font-size: 2.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#dove {
  font-size: 1em;
  color: var(--main-dark-blue);
}

#dove:hover {
  cursor: pointer;
  font-size: 1.1em;
}

@media (min-width: 700px) {
  .menu-container label {
    display: none;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 0;
    right: 0px;
    width: auto;
    background: none;
  }
  #dove {
    color: var(--main-light-blue);
  }
}

@media (min-width: 1200px) {
  header nav {
    font-size: 25px;
  }
  header img {
    height: 120px;
  }
}

:root {
  --main-light-blue: #16EAEA;
  --main-dark-blue: #1B4696;
  --secondary-red: #E85248;
}

body {
  height: 100%;
  text-decoration: none;
}

main {
  text-decoration: none;
}

a {
  font-family: "Bangers";
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 50px;
  text-align: end;
  padding-right: 10px;
  font-family: "Faster One";
  position: relative;
}

h3 {
  font-family: "Geo", sans-serif;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  padding-left: 2px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--main-dark-blue);
  height: 1.5rem;
  margin-bottom: 20px;
}

.search-container {
  max-width: 200px;
  padding: 50px;
}

.search::-webkit-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}

.search:-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}

.search::-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}

.search::placeholder {
  font-family: "Source Sans Pro", sans-serif;
}

.login-form {
  max-width: 800px;
  width: 400px;
  margin: 0 auto;
  color: black;
}

button {
  width: 100%;
  height: 30px;
  background: var(--main-dark-blue);
  color: white;
  cursor: pointer;
  border: none;
}

.edit-container {
  margin-top: 50px;
  max-width: 400px;
  margin: 0 auto;
}

.edit-container .check-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete {
  margin-top: 40px;
}

.delete button {
  background: var(--secondary-red);
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.message-container {
  width: 200px;
}

.message.success {
  margin-top: 20px;
  font-size: 25px;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

.message.warning {
  margin-top: 50px;
  font-size: 25px;
  color: red;
  border: 1px solid red;
  padding: 10px;
}

.hero-banner {
  background-image: url("/public/uploads/large_jakob_owens_Jz_J_Syb_P_Fb3s_unsplash_0840f6de0c.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.header {
  text-align: center;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #16EAEA 25%, transparent 25%), linear-gradient(225deg, #16EAEA 25%, transparent 25%), linear-gradient(45deg, #16EAEA 25%, transparent 25%), linear-gradient(315deg, #16EAEA 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat;
}

.featured {
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #16EAEA 25%, transparent 25%), linear-gradient(225deg, #16EAEA 25%, transparent 25%), linear-gradient(45deg, #16EAEA 25%, transparent 25%), linear-gradient(315deg, #16EAEA 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featuredData {
  background: white;
  margin: 0 auto;
  text-align: center;
}

.featuredData h3 {
  font-size: 80px;
  margin-top: -80px;
  color: var(--secondary-red);
}

.featuredData p {
  color: var(--secondary-red);
  font-size: 40px;
  margin-top: -90px;
}

.featuredData img {
  width: 450px;
  height: 300px;
}

.products {
  background-color: var(--secondary-red);
  opacity: 0.9;
  background-image: radial-gradient(var(--main-light-blue) 1.2px, #FFFFFF 1.2px);
  background-size: 28px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.allData {
  margin: 0 auto;
  padding: 20px;
  background: #fff1f1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grey;
}

.allData a {
  text-decoration: none;
}

.allData h3 {
  font-size: 80px;
  color: var(--secondary-red);
  text-align: center;
  height: 30px;
  margin-top: -20px;
}

.allData p {
  color: var(--main-dark-blue);
  font-size: 40px;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allData img {
  margin-top: -50px;
  border-radius: 50px 0 50px 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grey;
}

.allData:hover {
  border-radius: 50px 0 50px 0;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
}

.allData:hover img:hover {
  margin-top: -50px;
  border-radius: 50px 0 50px 0;
  border: 0 0 0 5px solid var(--secondary-red);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
  border-bottom: 0.5px solid var(--secondary-red);
  border-left: 0.5px solid var(--secondary-red);
}

.detailedData {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detailedData img {
  background-attachment: fixed;
}

.detailedData p {
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
}

.detailedData .inner-details h3 {
  text-align: center;
  font-size: 80px;
  color: var(--secondary-red);
  margin-top: -80px;
}

.detailedData .inner-details h4 {
  text-align: center;
  font-size: 30px;
  color: var(--secondary-red);
  margin-top: -80px;
}

.detailedData .inner-details i {
  margin-top: -50px;
  font-size: 2rem;
  text-align: end;
  color: var(--main-dark-blue);
}

.detailedData .inner-details i:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  .detailedData {
    opacity: 1;
    background-image: radial-gradient(var(--main-light-blue) 1.2px, #FFFFFF 1.2px);
    background-size: 28px 28px;
  }
  .detailedData .inner-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 50px;
    gap: 50px;
  }
  .detailedData .inner-details h3, .detailedData .inner-details h4, .detailedData .inner-details i {
    font-size: 4rem;
  }
}

@media (min-width: 1000px) {
  .detailedData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
  }
  .detailedData .detailed-img {
    margin-top: 30px;
    width: 400px;
    height: 500px;
    overflow: hidden;
  }
  .detailedData p {
    width: 600px;
    margin: 0 left;
    font-size: 25px;
  }
  .detailedData .inner-details {
    width: auto;
    max-height: 300px;
    text-align: center;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
  }
  .detailedData .inner-details h3, .detailedData .inner-details h4 {
    margin-top: -30px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.item img {
  border-radius: 50px 50px 50px 50px;
}

.item .inner-item {
  padding-left: 50px;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background: #bebebe;
  width: 30%;
}

.total p, .total h4 {
  font-size: 25px;
}

.total p {
  color: var(--secondary-red);
}

.total h4 {
  color: var(--main-dark-blue);
}

@media (min-width: 700px) {
  .item img {
    width: 300px;
    height: 200px;
  }
  .item .inner-item {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */