$font-nav: "Bangers";
$font-headers: 'Faster One';
$font-second-header: 'Geo', sans-serif;
$font-p: 'Source Sans Pro', sans-serif;

main {
  text-decoration: none;
}

a {
  font-family: $font-nav;
}

p {
  font-family: $font-p;
}

h1 {
  text-align: center;
  font-family: $font-p;
}

h2 {
  font-size: 50px;
  text-align: end;
  padding-right: 10px;
  font-family: $font-headers;
  position: relative;
}

h3 {
  font-family: $font-second-header;
}

h4 {
  font-family: $font-p;
}