.message {
  width: 100%;
  padding: 1rem;
  border: 1px solid grey;
}

.message.error {
  border-color: orange;
  color: white;
  background: orange;
}

.message.success {
  border-color: green;
  color: white;
  background: green;
}