$font-nav: "Bangers";
$font-headers: 'Arvo', serif;;
$font-second-header: 'Geo', sans-serif;
$font-p: 'Source Sans Pro', sans-serif;
$font-fast: 'Faster One';

main {
  text-decoration: none;
}

a {
  font-family: $font-nav;
}

p {
  font-family: $font-p;
}

h1 {
  text-align: center;
  font-family: $font-p;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding-right: 10px;
  font-family: $font-fast;
  color: var(--secondary-red);
}

h3 {
  font-family: $font-second-header;
}

h4 {
  font-family: $font-p;
}

h6 {
  font-family: $font-p;
  font-size: 10px;
  padding-left: 2px;
}

@media (min-width: 700px) {
  h2 {
    font-size: 50px;
  }
}
